.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.local
.env.*.local
.azurefunctions/
.idea/
.vscode/
.DS_Store
*.sqlite
__pycache__/
coverage/
.ipynb_checkpoints/
logs/
data/raw/
venv_py312_backup/